[gcode_macro M0]
gcode:
  {action_respond_info("Initiating Pause from M0 Gcode command")}
  PAUSE
 
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    # Parameters
    {% set X = params.X|default(230)|float %}
    {% set Y = params.Y|default(230)|float %}
    {% set Z = params.Z|default(10)|float %}
    {% set F = params.F|default(480)|float %}
    {action_respond_info("Saving state of system")}
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
 
[gcode_macro CONTINUE_CUT]
gcode:
  {action_respond_info("Resuming cut from last position")}
  RESUME
 
[gcode_macro RESUME]
rename_existing: BASE_RESUME
variable_zhop: 0
variable_etemp: 0
gcode:
    # Parameters
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME
[gcode_macro GO_HOME]
gcode:
  G90 #Absolute
  G0 Z5
  G0 X0 Y0
[gcode_macro HOME_ALL] 
gcode:
  G28 Z 
  G91
  G0 Z5
  G90
  G28 XY 
  #SET_SKEW XY=1701.8,1700.6875,1200 

[gcode_macro  ZERO_ALL]
gcode:
  M117 "Zero All"
  SET_KINEMATIC_POSITION X=0 Y=0 Z=0

[gcode_macro  ZERO_XY]
gcode:
  M117 "Zero XY"
  SET_KINEMATIC_POSITION X=0 Y=0

[gcode_macro  ZERO_X]
gcode:
  M117 "Zero X"
  SET_KINEMATIC_POSITION X=0

[gcode_macro  ZERO_Y]
gcode:
  M117 "Zero Y"
  SET_KINEMATIC_POSITION Y=0

[gcode_macro  ZERO_Z]
gcode:
  M117 "Zero Z"
  SET_KINEMATIC_POSITION Z=0

[gcode_macro PROBE_Z]
gcode:
  M117 "Probing"
  PROBE
  SET_KINEMATIC_POSITION Z=0.5
  G0 Z10
[gcode_macro RAISE]
gcode:
    M117 "raise"
[gcode_macro LOWER]
gcode:
  M117 "lower"
[gcode_macro HOME]
gcode:
  M117 "home"
[gcode_macro LED_TEST]
gcode:
  #NEOPIXEL_DISPLAY LED="STATUS_LED" TYPE=extruder_temp MODE=glow  #This macro command will show the extruder temperature in glow mode.
  #NEOPIXEL_DISPLAY LED="STATUS_LED" TYPE=print_percent MODE=progress  #This macro command will show print completion in progress mode.
  NEOPIXEL_DISPLAY LED="STATUS_LED" TYPE=print_speed MODE=progress

[gcode_macro LED_RED]
gcode:
  SET_LED LED=STATUS_LED RED=0.9 GREEN=0.0 BLUE=0.0
  
[gcode_macro LED_BLUE]
gcode:
  SET_LED LED=STATUS_LED RED=0.0 GREEN=0.0 BLUE=0.9
  
[gcode_macro LED_GREEN]
gcode:
  SET_LED LED=STATUS_LED RED=0.0 GREEN=0.9 BLUE=0.0
  
[gcode_macro LED_VIOLET]
gcode:
  SET_LED LED=STATUS_LED RED=0.9 GREEN=0.0 BLUE=0.9

[gcode_macro LED_CYAN]
gcode:
  SET_LED LED=STATUS_LED RED=0.0 GREEN=0.9 BLUE=0.9

[gcode_macro LED_YELLOW]
gcode:
  SET_LED LED=STATUS_LED RED=0.9 GREEN=0.9 BLUE=0.0

[gcode_macro LED_WHITE]
gcode:
  SET_LED LED=STATUS_LED RED=0.9 GREEN=0.9 BLUE=0.9

[gcode_macro MOVE_AND_SHOW]
description: Save position, move, and display new position
gcode:
    # Save the current g-code state to return to it later
    SAVE_GCODE_STATE NAME=MOVE_AND_SHOW_STATE

    # Set relative positioning for the move command
    G91
    # Move the nozzle up 10mm and then to a new X/Y position
    G1 Z10 F600
    G1 X50 Y50 F3000

    # Show the new absolute position on the display
    M117 Current position: X={printer.toolhead.position.x|round(1)} Y={printer.toolhead.position.y|round(1)} Z={printer.toolhead.position.z|round(1)}
    # Restore the previous g-code state
    RESTORE_GCODE_STATE NAME=MOVE_AND_SHOW_STATE
    # return to abs coordinates
    #G90
    