[display]
lcd_type: ssd1306
i2c_address: 60 #0x3C # is Dec 60 Or 0x3D, depending on your specific display's address
i2c_mcu: rpi
i2c_bus: i2c.1

[gcode_macro SHOW_COORDINATES]
gcode:
    # Get the current position using the gcode_move status.
    {% set x_pos = printer.gcode_move.gcode_position.x|round(1) %}
    {% set y_pos = printer.gcode_move.gcode_position.y|round(1) %}
    {% set z_pos = printer.gcode_move.gcode_position.z|round(2) %}

    # Send an M117 command to the display to show the updated coordinates.
    M117 X:{x_pos} Y:{y_pos} Z:{z_pos}

[display_template my_coordinates]
text:
  {% set g = printer.gcode_move %}
  X: {g.gcode_position.x|round(2)}
  Y: {g.gcode_position.y|round(2)}
  Z: {g.gcode_position.z|round(2)}