################################
# to add pendant code and use host raspberry pi, the host firmware must be compiled for the process linux system and then flashed - copied to local bin folder
################################
[gcode_shell_command RUN_ENABLE]
command: bash -c "bash $HOME/pendant/enablescript.sh"
timeout: 90.0  # Optional: Set a timeout for the script execution
verbose: True  # Optional: Log the script's output

[gcode_button EZbutton]
pin: ^rpi:gpio27
debounce_delay: 2
press_gcode:
    M117 "EZ button press: enabling Pendant"
    RUN_SHELL_COMMAND CMD=RUN_ENABLE

[gcode_macro ENABLE_PENDANT]
gcode:
    M117 "Pendant enable"
    RUN_SHELL_COMMAND CMD=RUN_ENABLE