#[include 3dchameleon.cfg]
# this is the button press file

#Need the tool change options and timings for the button presses.

[output_pin c3d_switch]
    #pin: PD14 # FAN4 not PD5 or PD6
    pin: PB8 # chameleon white -> relay -> blue -> octopus
[output_pin c3d_reset]
    pin: PB9 #chameleon green -> relay -> red -> octopus
[output_pin c3d_load]
    pin: PD5 # chameleon yellow -> relay -> green -> octopus
[output_pin c3d_unload]
    pin: PD6 # chameleon blue -> relay -> black -> octopus
    
[gcode_macro MODE_PRESS]  #trigger = mode
description: this sets the mode pin
gcode:
  #set_digital_out pin=PD5 value=0
  SET_PIN PIN=c3d_switch VALUE=1

[gcode_macro LOAD_PRESS]
description: this sets the manual load pin
gcode:
  #set_digital_out pin=PD5 value=0
  SET_PIN PIN=c3d_load VALUE=1

[gcode_macro RESET_PRESS]
description: this sets the reset pin
gcode:
  #set_digital_out pin=PD5 value=0
  SET_PIN PIN=c3d_reset VALUE=1

[gcode_macro UNLOAD_PRESS]
description: this sets the manual unload pin
gcode:
  #set_digital_out pin=PD5 value=0
  SET_PIN PIN=c3d_unload VALUE=1

[gcode_macro MODE_RELEASE]
description: this releases the mode pin
gcode:
  #set_digital_out pin=PD5 value=1
  SET_PIN PIN=c3d_switch VALUE=0
    
[gcode_macro LOAD_RELEASE]
description: this releases the manual load pin
gcode:
  #set_digital_out pin=PD5 value=1
  SET_PIN PIN=c3d_load VALUE=0

[gcode_macro RESET_RELEASE]
description: this releases the reset pin
gcode:
  #set_digital_out pin=PD5 value=1
  SET_PIN PIN=c3d_reset VALUE=0  
  
[gcode_macro UNLOAD_RELEASE]
description: this releases the manual unload pin
gcode:
  #set_digital_out pin=PD5 value=1
  SET_PIN PIN=c3d_unload VALUE=0

[gcode_macro pulse_chameleon]
gcode:
  {% set pulses = params.pulses | default(15) | int %}
  MODE_PRESS
  G4 P{pulses * 50}
  M117 "Pulse Duration" {pulses * 50}
  MODE_RELEASE

[gcode_macro HOME]
gcode:
  MODE_PRESS
  G4 P715
  M117 "HOME 715"
  MODE_RELEASE

[gcode_macro HOME_LOAD]
gcode:
  MODE_PRESS
  G4 P505
  M117 "HOME 505"
  MODE_RELEASE

[gcode_macro UNLOAD_HOME]
gcode:
  MODE_PRESS
  G4 P610
  M117 "HOME 610"
  MODE_RELEASE
  
# # initialize
# [gcode_macro init_chameleon]
# description: homes the tool selector. Needed before any tool change.
# variable_tool: 0
# variable_ysplit_distance: 787 #from extruder to far Y loader input 31"  ish...
# gcode:
#   MODE_PRESS
#   G4 P505  # time out for x ms
#   MODE_RELEASE
#   SET_GCODE_VARIABLE MACRO=TOOL_INIT VARIABLE=tool VALUE=0
  
# [gcode_macro Activate_C0]  #T1  T is for tool in printer lingo, this is manual
# gcode:
#   MODE_PRESS
#   G4 P880  # time out for x ms
#   MODE_RELEASE
#   #Load filament 17 second push
  
# [gcode_macro Activate_C1]  #T2
# gcode:
#   MODE_PRESS
#   G4 P925  # time out for x ms
#   MODE_RELEASE

# [gcode_macro Activate_C2]  #T3
# gcode:
#   MODE_PRESS
#   G4 P1030 # time out for x ms
#   MODE_RELEASE
# #T1
# [gcode_macro Activate_C3]  #T4
# gcode:
#   MODE_PRESS
#   G4 P1135  # time out for x ms
#   MODE_RELEASE
[gcode_macro CHAMELEON_RESET] # select channel for print mode
gcode:
  #TOOL_SELECT TOOL=0
  RESET_PRESS
  G4 P500  # time out for x ms
  RESET_RELEASE
  
[gcode_macro T1] # select channel for print mode
gcode:
  #TOOL_SELECT TOOL=0
  MODE_PRESS
  G4 P180  # time out for x ms
  MODE_RELEASE

[gcode_macro T2]
gcode:
  #TOOL_SELECT TOOL=1
  MODE_PRESS
  G4 P220  # time out for x ms
  MODE_RELEASE

[gcode_macro T3]
gcode:
  #TOOL_SELECT TOOL=2
  MODE_PRESS
  G4 P285  # time out for x ms
  MODE_RELEASE

[gcode_macro T4]
gcode:
  #TOOL_SELECT TOOL=3
  MODE_PRESS
  G4 P395  # time out for x ms
  MODE_RELEASE
  
[gcode_macro PRELOAD]
gcode:
  MODE_PRESS
  G4 P30
  MODE_RELEASE
  G4 P1000
  MODE_PRESS
  G4 P{DURATION}
  
[gcode_macro CUT]
gcode:
  MODE_PRESS 
  G4 P820
  MODE_RELEASE

# [gcode_macro TOOL_SET]
# gcode:
  # SET_GCODE_VARIABLE MACRO=TOOL_SELECT VARIABLE=tool VALUE={TOOL}
  
# [gcode_macro TOOL_SELECT] # for automated use
# gcode:
#   {% set TOOL = params.TOOL|int %}
#   M117 "Setting tool to TOOL{TOOL}"
#   SET_GCODE_VARIABLE MACRO=TOOL_SELECT VARIABLE=tool VALUE={TOOL}

# [gcode_macro ACTIVATE_TOOL] # for manual use
# gcode:
#   {% set ACTIVE_TOOL = params.ACTIVE_TOOL|int %}
#   M117 "Setting active tool to ACITVE_TOOL{ACTIVE_TOOL}"
#   #{% if ACTIVE_TOOL == 0 %}
#     Activate_C{ACTIVE_TOOL}
#   #  0
  ##{% elif TOOL == 1 %}
  #  Activate_C1
  #{% elif TOOL == 2 %}
  #  Activate_C2
  #{% elif TOOL == 3 %}
  #  Activate_C3
  #{% endif %}
  #SET_GCODE_VARIABLE MACRO=ACTIVATE_TOOL VARIABLE=ACTIVE_TOOL VALUE={ACTIVE_TOOL}

# unload
[gcode_macro AUTO_UNLOAD]  #unload
gcode:
  MODE_PRESS
  #gcode_pause 1.5
  G4 P{UNLOAD_DURATION}  # time out for x ms for unload from extruder to Y
  MODE_RELEASE
  SET_GCODE_VARIABLE MACRO=AUTO_UNLOAD VARIABLE=Unload_Duration VALUE={UNLOAD_DURATION}
  
# load
[gcode_macro AUTO_LOAD]  #load
gcode:
  MODE_PRESS
  #gcode_pause 1.5
  G4 P{LOAD_DURATION}  # time out for x ms for load from y to extruder
  MODE_RELEASE
  SET_GCODE_VARIABLE MACRO=AUTO_LOAD VARIABLE=Load_Duration VALUE={LOAD_DURATION}

# [gcode_macro JOG_RESET]  #home
# gcode:
#   MODE_PRESS
#   #gcode_pause 1.5
#   G4 P30  # time out for x ms
#   MODE_RELEASE

# [gcode_macro JOG_LOAD]  #home
# gcode:
#   LOAD_PRESS
#   #gcode_pause 1.5
#   G4 P{LOAD_DISTANCE}  # time out for x ms
#   LOAD_RELEASE

# [gcode_macro JOG_UNLOAD]  #home
# gcode:
#   UNLOAD_PRESS
#   #gcode_pause 1.5
#   G4 P{UNLOAD_DISTANCE}  # time out for x ms
#   UNLOAD_RELEASE
